
//BOOTSTRAP PAGINATION CENTER
.d-none.flex-sm-fill.d-sm-flex.align-items-sm-center.justify-content-sm-between {
    justify-content: center!important;
    gap: 20px;
}

.productes {
    width: 90%;
}

.producte {
    background-color: rgb(216, 216, 216);
    padding: 20px;
}
