.productes {
    width: 90%;
}

.producte {
    background-color: rgb(255, 248, 143, 0.4);
    padding: 20px;
}

.producte-a {
    text-decoration: none;
    color: black;
    font-weight: 700!important;
}

.producte-nom {
    display: inline-block;
}